<div class="container" style="padding-top: 30px;">
  <p style="font-size:45px;" class="font-weight-bold">#Homepage Title</p>
  <p style="font-size:18px;" class="font-weight-bold">
  	#Homepage content
  </p>  
  {{#if user}}
  {{else}}
    <p style="font-size:18px;font-weight:bold;">
      To begin please <a class="dark-blue" href="../signup">create an account</a> . Otherwise, please <a class="dark-blue" href="../login">login</a> to continue.
    </p>
  {{/if}}
<div>