<div class="container" style="padding-top: 30px;">
  <p style="font-size:45px;" class="font-weight-bold">Welcome to BWHS research proposal platform!</p>
  <p style="font-size:18px;" class="font-weight-bold">
  	The BWHS has guidelines in place that enable scientific investigators to apply for use of BWHS resources. These guidelines allow access to de-identified study data for legitimate scientific research while protecting the confidentiality of the data. Data will be made available to outside investigators in compliance with the informed consents of study participants.
  </p>  
  <p style="font-size:18px;" class="font-weight-bold">
    Investigators who wish to use BWHS data or samples should submit a concept proposal using the link below. The proposal is reviewed by the BWHS Data and Biospecimen Committee to assess feasibility and originality. If biologic samples are requested, the review will determine whether the significance and the quality of the approach warrant use of some of the limited sample resource. Investigators with approved concepts will be invited to submit a more detailed proposal for consideration by the BWHS Committee. 
  </p>
  <p style="font-size:18px;" class="font-weight-bold">
    Outside investigators will obtain IRB approval from their own institution. Proper legal agreements (e.g., data use agreement, material transfer agreement) will be signed by the two institutions. Use of the data will be limited to the research described in the proposal.
  </p>
  <p style="font-size:18px;" class="font-weight-bold">
    Please note that a data file preparation fee will apply. This fee covers review of the data request; consultation with a BWHS investigator; processing of data use agreements; preparation of the dataset by the Data Manager; and data quality control, documentation, and tracking. The fee charged will depend on the size and complexity of the project as well as the completeness of the information provided by the requestor. Please see the fee schedule below. Fees may be discounted or waived on a case-by-case basis (e.g., for researchers from <a href="https://grants.nih.gov/grants/guide/pa-files/PAR-20-294.html#_Section_III._Eligibility">HBCUs, HSIs, and TCCUs</a>).
  </p>
  {{#if user}}
  {{else}}
    <p style="font-size:18px;font-weight:bold;">
      To begin please <a class="dark-blue" href="../signup">create an account</a> . Otherwise, please <a class="dark-blue" href="../login">login</a> to continue.
    </p>
  {{/if}}  
  <div style="width:60%; margin:auto;">
    <table class="table table-bordered">
      <thead class="bg-info text-white">
        <tr>
          <th>Data request type</th>
          <th>Fee</th>      
        </tr>
      </thead>
      <tbody class="bg-light">
        <tr>
          <th>Simple data request (e.g., cross-sectional analysis)</th>
          <td>$2,000</td>      
        </tr>
        <tr>
          <th>Standard data request (e.g., follow-up analysis)</th>
          <td>$5,000</td>      
        </tr>
        <tr>
          <th>Complex data request</th>
          <td>$10,000</td>     
        </tr>
      </tbody>
    </table>
  </div> 
<div>