<div>
  <h5 id="fileName"></h5>
  <input
    class="btn btn-sm btn-light d-none"
    type="file"
    id="proposal-file-input"
    name="proposalFile"
    accept="application/pdf"
    onchange="uploadFile(this,'{{user._id}}')"
    multiple
  />
  <button class="btn btn-info btn-lg" onclick="onClickUploadFile()">Upload Proposals</button>
</div>