<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar" style="padding-top: 40px;">
  <ul class="nav nav-pills flex-column sticky-header1 col-sm-3 col-md-2">
    <h6 class="text-light">Your Role
      {{#if user.roles.reviewer}}      
        <span class="badge badge-warning">Reviewer</span>
      {{else}}
        {{#if user.roles.root}}      
          <span class="badge badge-warning">Root</span>
        {{else}}
          {{#if user.roles.committee_member}}
            <span class="badge badge-warning">Committee Member</span> 
          {{/if}}           
        {{/if}}        
      {{/if}}      
    </h6>    
  </ul>

  <div class="sticky-header2 col-sm-3 col-md-2" style="padding-top: 20px;">
    <ul class="nav nav-pills flex-column" >
      <h6 class="text-white font-weight-bold">
        Your links
      </h6>
      {{#if user.roles.reviewer}} 
        <li class="nav-item">        
          <a class="nav-link text-light" href="../../../proposals/reviewer/upload">
            Proposal Upload         
          </a>           
        </li>     
      {{/if}}
      {{#if user.roles.committee_member}} 
        <li class="nav-item">        
          <a  class="nav-link text-light" href="../../../proposals/feasibility-check">
            Review Feasibility
          </a>          
        </li>     
      {{/if}}
    </ul>
  </div>

  {{#role user 'root'}}  
  <div class="sticky-header2 col-sm-3 col-md-2" style="padding-top: 20px;"> 

    <ul class="nav nav-pills flex-column" style="padding-top: 20px">
      <h6 class="text-white">Collections</h6>
      <li class="nav-item">
        <a class="nav-link text-light" href="../../../authAttempts">Auth Attempts</a>       
        <a class="nav-link text-light" href="../../../users">Users</a>        
      </li>
    </ul>
  
    <ul class="nav nav-pills flex-column" style="padding-top: 20px">
      <h6 class="text-light">Population Settings</h6>
      <li class="nav-item">
        <a class="nav-link text-light" href="../../../roles">Roles</a>        
      </li>
    </ul>   
  
    <ul class="nav nav-pills flex-column" style="padding-top: 20px">
      <h6 class="text-light">Application Settings</h6>
      <li class="nav-item">
        <a class="nav-link text-light" href="../../../backups">Backups</a>
        <a class="nav-link text-light" href="../../../env">Env</a>
        <a class="nav-link text-light" href="../../../scopes">Routing & Scopes</a>
      </li>
    </ul>
  </div> 
  {{/role}}
</nav>

<style>
  .sticky-header1 {
    position:fixed; 
    top:10%;
  }
  .sticky-header2 {
    position:fixed; 
    top:12%;
  }
</style>