<nav
  class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar"
  style="padding-top: 20px;"
>
  <ul class="nav nav-pills flex-column sticky-header1 col-sm-3 col-md-2">
    <h6 class="text-light">Your Role
      {{#if user.roles.reviewer}}
        <span class="badge badge-warning">Reviewer</span>
      {{else}}
        {{#if user.roles.root}}
          <span class="badge badge-warning">Root</span>
        {{else}}
          {{#if user.roles.coordinator}}
            <span class="badge badge-warning">Coordinator</span>
          {{else}}
            {{#if user.roles.chair}}
              <span class="badge badge-warning">Chair</span>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    </h6>
    <br /><hr />
  </ul>

  <div class="sticky-header2 col-sm-3 col-md-2" style="padding-top: 20px;">
    <ul class="nav nav-pills flex-column">
      <h6 class="text-white font-weight-bold">
        Your links
      </h6>
      {{#if user.roles.root}}
        <li class="nav-item">
          <a class="nav-link text-light" href="../../../proposals/upload">
            Proposal Upload
          </a>
          <a class="nav-link text-light" href="../../../proposals/submissions">
            Review Feasibility
          </a>
        </li>
      {{/if}}
      {{#if user.roles.chair}}
        <li class="nav-item">
          <a class="nav-link text-light" href="../../../proposals/submissions">
            Review Proposals   
          </a>                     
        </li>
      {{/if}}
      {{#if user.roles.reviewer}}
        <li class="nav-item">
          <a class="nav-link text-light" href="../../../proposals/submissions">
            Review Proposals
          </a>
        </li>
      {{/if}}     
      {{#if user.roles.coordinator}}
        <li class="nav-item">
          <a class="nav-link text-light" href="../../../proposals/upload">
            Upload Proposals
          </a>
          <a class="nav-link text-light" href="../../../proposals/submissions">
            Review Proposals Feasibility
          </a>
          <a class="nav-link text-light" href="../../../users">Users</a>
          <a class="nav-link text-light" href="../../../roles">Roles</a>
        </li>
      {{/if}}
    </ul>
  </div>
  <br /><br /><br />
  {{#role user "root"}}
    <div class="sticky-header3 col-sm-3 col-md-2" style="padding-top: 120px;">

      <ul class="nav nav-pills flex-column" style="padding-top: 20px">
        <h6 class="text-white font-weight-bold">Collections</h6>
        <li class="nav-item">
          <a class="nav-link text-light" href="../../../authAttempts">Auth
            Attempts</a>
          <a class="nav-link text-light" href="../../../users">Users</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column" style="padding-top: 20px">
        <h6 class="text-light font-weight-bold">Population Settings</h6>
        <li class="nav-item">
          <a class="nav-link text-light" href="../../../roles">Roles</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column" style="padding-top: 20px">
        <h6 class="text-light font-weight-bold">Application Settings</h6>
        <li class="nav-item">
          <a class="nav-link text-light" href="../../../backups">Backups</a>
          <a class="nav-link text-light" href="../../../env">Env</a>
          <a class="nav-link text-light" href="../../../scopes">Routing & Scopes</a>
        </li>
      </ul>
    </div>
  {{/role}}
</nav>

<style>
  .sticky-header1 { position:fixed; top:10%; } .sticky-header2 { position:fixed;
  top:12%; } .sticky-header3 { position:fixed; top:15%; }
</style>