<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3 class="font-weight-bold" style="font-size:1.8em;">Hello, {{user.name}}!</h3>        
        <br>        
        {{#if user.roles.reviewer}}
            {{>reviewerUploadForm}}
        {{else}} 
            <h4>
                Click on the “+” sign to submit a new brief query.
            </h4>
            <h4>
                To check the status of your submissions, click on the name of the submission on the left side menu.
            </h4><br>            
            <h4>
                For the submissions which have not been approved, the reviewer might have left a feedback for you on the submission to help you with your future submissions. 
            </h4><br>
            <h4>
                If your submission is approved, you can download the conpect proposal and email the completed form to <strong>bwhs@bu.edu</strong>. 
            </h4><br>
            <h4>
                Please contact <strong>bwhs@bu.edu</strong> for further inquiries/assistance.
            </h4>    
        {{/if}}
      </div>
    </div>
  </div>
</div>