<div class="row">
    <div class="col">
        <div class="card">                        
            <h5 class="card-header bg-info text-white font-weight-bold">Post Proposal Approval Information</h5>
            <div class="card-body">                
                <div class="row" id="postApprovalForm">                    
                    <div class="col">
                        <label>BWHS investigator assigned to the proposal (as a liaison)</label>
                        <input type="text" class="form-control" id="investigator" placeholder="Enter here" value="" onchange="postApprovalForm()" disabled>                        
                    </div>                    
                    <div class="col">
                        <label>Data manager/analyst responsible for dataset preparation </label>
                        <input type="text" class="form-control" id="analyst" placeholder="Enter here" value="" onchange="postApprovalForm()" disabled>                        
                    </div>                    
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label>Date Data Use Agreement (DUA) executed </label>
                        <input class="form-control" type="date" id="DUADate" onchange="postApprovalForm()" disabled>
                    </div>
                    <div class="col">
                        <label>Date data request received </label>
                        <input class="form-control" type="date" id="dataRequestDate" onchange="postApprovalForm()" disabled>
                    </div>
                    <div class="col">
                        <label>Date dataset prepped & available for external researcher access</label>
                        <input class="form-control" type="date" id="preparationDate" onchange="postApprovalForm()" disabled>
                    </div>
                </div>                
                <br>
                <div class="row">                            
                    <div class="col">
                        <h8 class="font-weight-bold">                
                            Status of Data Use Agreement (DUA)
                        </h8>
                        <select class="form-select btn" style="margin-left:5px;" id="DUAStatus" onchange="postApprovalForm()" disabled>
                            <option value="pending">pending</option>                            
                            <option value="finilized">finilized</option>                            
                        </select>
                    </div>
                    <div class="col">
                        <h8 class="font-weight-bold">                
                            Status of data request
                        </h8>
                        <select class="form-select btn" style="margin-left:5px;" id="dataReqStatus" onchange="postApprovalForm()" disabled>
                            <option value="pending">pending</option>                            
                            <option value="recieved">recieved</option>                            
                        </select>
                    </div>
                    <div class="col">
                        <h8 class="font-weight-bold">                
                            Status of dataset preparation
                        </h8>
                        <select class="form-select btn" style="margin-left:5px;" id="preparationStatus" onchange="postApprovalForm()" disabled>
                            <option value="inQueue">in queue</option>                            
                            <option value="inProgress">in progress</option>
                            <option value="completed">completed</option>                            
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col" id="upload-links">
                        <h8 class="font-weight-bold">Uploaded files</h8><br>                        
                    </div>
                </div>
                <br>
                <div class="row">                    
                    <div class="col">
                        <input class='btn btn-sm btn-light d-none' title='' type='file' id='file-input' name='attachedFile' accept='.txt, .pdf, .docx' onchange='uploadFiles(this);' multiple/>
                        <button class='btn btn-info' onclick='onClickUploadFile(this)'>Upload Files</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-info float-right" onclick="postApprovalForm(this)">Edit</button>
                    </div>                    
                </div>         
            </div>
        </div>
    </div>                 
</div>

<style>
 label {
    font-weight: bold;
 }
</style>