<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header bg-light text-dark"><strong>BWHS Analysis Proposal</strong></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Short Title</strong></label>
                        <input type="text" class="form-control" id="shortTitle" value="{{shortTitle}}" disabled>                        
                    </div>                                        
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Proposed authors from your institution</strong></label>
                        <input type="text" class="form-control" id="authors" placeholder="Enter proposed authors">
                    </div>                    
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Background and rationale</strong> (1-2 paragraphs)                        
                        </label>            
                        <textarea type="text" class="form-control" id="background" placeholder="Enter background here" rows="4" cols="50"></textarea>
                    </div>                    
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Study population</strong>
                        <br>Describe who will be in the study. List inclusion and exclusion criteria. 
                        </label>            
                        <textarea type="text" class="form-control" id="studyPopulation" placeholder="Enter study population here" rows="4" cols="50"></textarea>
                    </div>                    
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Outcome</strong>
                        <br>Define the outcome of interest and source of outcome data. Include medical codes as necessary.
                        </label>            
                        <textarea type="text" class="form-control" id="outcome" placeholder="Enter outcome here" rows="4" cols="50"></textarea>
                    </div>                    
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Exposures</strong>
                        <br>List the primary exposure(s) of interest. Explain exposure assessment and how variables will be defined (e.g., continuous vs. categorical).
                        </label>            
                        <textarea type="text" class="form-control" id="exposures" placeholder="Enter exposures here" rows="4" cols="50"></textarea>
                    </div>                    
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Rationale for biospecimen request (if applicable)</strong>
                        <br>Provide the justification for the use of BWHS biospecimens. Provide the name and describe the qualifications/experience of the laboratory performing the analysis.
                        </label>            
                        <textarea type="text" class="form-control" id="rationale" placeholder="Enter exposures here" rows="4" cols="50"></textarea>
                    </div>                    
                </div>
                <br> 
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>Statistical approach</strong>
                        <br>Describe the statistical models and tests for primary analyses. Include information regarding confounding, covariates to be considered, stratified analyses and potential sensitivity analyses.                       
                        </label>            
                        <textarea type="text" class="form-control" id="statisticalApproach" placeholder="Enter statistical approach here" rows="4" cols="50"></textarea>
                    </div>                    
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>For consortium/data-pooling project (if applicable)</strong>
                        <br>Describe how BWHS data will be harmonized with data from other studies and analysis approach (e.g., meta-analysis, pooled  analysis).                       
                        </label>            
                        <textarea type="text" class="form-control" id="forConsortium" placeholder="Enter how BWHS data will be harmonized" rows="4" cols="50"></textarea>
                    </div>                    
                </div>
                <br>
                <div class="row">                            
                    <div class="col">
                        <label style="font-size:1.2rem;"><strong>References</strong></label>         
                        <textarea type="text" class="form-control" id="references" placeholder="Enter references here" rows="4" cols="50"></textarea>
                    </div>                    
                </div>                                        
            </div>
        </div>
    </div>                 
</div>