<div>
    <h4>Files to upload: </h4>
    <h5 id="fileName"></h5>
    <input class='btn btn-sm btn-light d-none' type="file" id="proposal-file-input" name="proposalFile" accept="application/pdf" onchange="uploadFile(this,'{{user._id}}')" multiple/>
     <button class='btn btn-info btn-lg' onclick='onClickUploadFile()'>Upload Files</button>               
</div>
{{#if proposals}}
    <h3>Files Uploaded</h3>
    <br><br>
    {{#each proposals as |proposal|}}
        <h4><a href="/api/S3/getObject/{{fileName}}">{{fileName}}</a></h4>
        <h6>Submitted on: {{createdAt}} </h6>
        <hr>
    {{/each}}
{{/if}}
<script type="text/javascript" src="/public/scripts/reviewer/index.js" ></script>
<style>
 label {
    font-weight: bold;
    padding: 10px;
 }
 
 label:hover {
    color:blue
 }
</style>