<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">     
        <h1>
            Project title: {{shortTitle}}<span class="badge badge-pill ml-3 {{statusBadgeClass submission.status 'badge'}}">{{status submission.status}}</span>
        </h1>                                 
        {{> briefForm}}        
        <br>                   
        <button type="button" class="btn btn-info btn-lg" id="submit" onclick="submitForm()">Submit Brief</button>                       
      </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/public/scripts/briefs/briefForms.js"></script>
<script type="text/javascript" src="/public/scripts/briefs/editView.js"></script>